
@media (max-width: 410px) {
    .weather-card {
      border: 2px solid var(--blanco);
      width: 90%;
      height: 90%;
      border-radius: .5rem;
      padding: 1rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(88, 22, 155, 0.75);
    }
    .container-main, .container-humidity, .container-wind {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: rgba(255, 255, 255, 0.172) solid;
      border-radius:15% ;
      padding: 7% 5% 7% 5%;
      background-color: rgba(10, 10, 10, 0.494);
      width: 14.5vh;
      height: 16vh;
    }
    .aditional-info {
      display: flex;
      grid-gap: 8px;
      justify-content: center;
    }
  }
