#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
 .App{ width: 50vw;
  height: 100vh;
  background-image: url('../src/assets/Clear.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    width: 50vw;
    height: 100vh;
    background-image: url('../src/assets/Clear.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}}