

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
 .App{ width: 95vw;
  height: 90vh;
  background-image: url('../src/assets/Clear.gif');
  background-position: center;
  background-size: fill;
  }
  .container-main, .container-humidity, .container-wind {
    padding: 2rem 1rem 0.5rem 1rem;
   
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    width: 95vw;
    height: 90vh;
   
}
.container-main, .container-humidity, .container-wind {
  padding: 2rem 1rem 0.5rem 1rem;
 
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    width: 95vw;
    height: 90vh;
    background-image: url('../src/assets/Clear.gif');
   
   
}}